*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: sans-serif;
}
    
main{
    height: calc(100vh - 100px);
    background-color:#141922;
    display: flex;
    
}
header{
    position: sticky;
    top: 0;
    height: 75px;
    background-color: #080b12;
   width: 100%;
}

footer{
    height: 100px;
    background-color: #282828;
}
    
.sidebar{
    height: 100%;
    width: 150px;
    background-color: rgb(5, 5, 5);
    display: flex;
    
    
}
.contenitoregod{
    width: calc(100% - 150px);
    overflow-y: auto;
    
    
}
.sezione1{
    /* display: flex; */
    width: 100%;
    flex-wrap: wrap;
    height: 200px;
}
.content{
    width: calc(100% - 150px);
    overflow-y: auto;
   
}
.contenitorepadre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.hover:hover {
    color: white;
    cursor: pointer;
}
.btnhover:hover{
    cursor: pointer;
    scale: 1.1;
}
.relative{
    position: relative;
}
.relative:hover .absolute{
    display: inline-flex;
}
.absolute{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
     

.logo{
    width: 100px;
    margin: 20px 0;
}

.margine{
   margin-top: 10px;
    padding-left: 10px;

}
.border{
    border-left: 5px solid greenyellow;
}
.border2{
    border-left: 5px solid transparent;
}
.home{
    width: 20px;
}

.libreria{
    width: 20px;
}
.grandezza{
    width: 20px;
}
.download{
    width: 15px;
    margin-right: 5px;
    
}
.profile{
    width: 20px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 5px;
}
.btn1{
    border: 1px solid white;
    border-radius: 20px;
    margin: 20px 20px;
    background-color: #141922;
    color: white;
    height: 30px;
    width: 200px;
}
    
.flex{
    display: flex;
    justify-content: end;
    align-items: center;
}
.contenitorepadre2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 50%;
    
}
.lista{
    display: flex;
    list-style-type: none;
    margin-top: 10px 0;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    
    
}
.lista1{
    list-style-type: none;
    padding-left: 10px;
    margin-top: 30px;
    
}
.mgtop{
    margin-top: 10px;
}


.pl{
    padding-left: 10px;
}
.ml2{
    margin-left: 15px;
    color: grey;
}
.top2{
    margin-top: 10px;
    color: grey;
}
.top1{
    height: 100%;
    
    flex-direction: column;
}
.colorgrey{
    color: grey;
}
    
    
.marginesx{
    margin-top: 30px;
    
}
.square{
    display: flex;
   flex-wrap: wrap;
}

    
   
  
.square2{
    display: flex;
    justify-content: flex-start;
    
    
}
.card{
    width: 150px;
    
}
.space{
    margin: 0 20px;
}
.card2{
    width: 150px;
    margin: 20px 20px;
    border-radius: 50%;
    
}
.lettering{
    font-size: 15px;
    margin-left: 0 auto;
    text-align: center;
}
.lettering2{
    font-size: 10px;
    margin-left: 0 auto;
    text-align: center;
} 

/* footer */

.contenitoregod1{
    display: flex;
}
.size1{
    width: 50px;
    margin: 10px;
}
.side{
    display: flex;
   justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 15%;
    margin-top: 20px;
    margin-right: 20px;
}
.rightside{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 15%;
    margin-top: 20px;
    margin-left: 20px;
}
   
.center{
    display: flex;
   justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 20px;
}
    
.colorwhite{
    color: white;
    width: 50px;
}
.ml{
    margin: 20px 20px;
}
.bottoni{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}
.line{
    width: 80%;
    margin: 0 auto;
}
    
.linefooter{
    width: 80%;
    height: 2px;
    color: grey;
    border: 1px solid gray;
}
.inline{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.linea2{
    width: 40%;
    color: grey;
    height: 2px;
    margin-right: 10px;
}
.dynone-invert{
    display: none;
    
}
.lineaverde{
    background-color: yellowgreen;
    height: 2px;
    width: 40px;
    margin: 0 auto;
    border: none;
}
.margintop{
    margin-top: 10px;
}
.mbtt{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
}
.play{
    font-size: 30px;
    
}
.minfontsize{
    font-size: 10px;
}
/* mediaquery */
    
    
@media screen and (max-width: 878px){
    .square{
        
        flex-wrap: wrap;
        
    }
    .lista{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .center{
        display: flex;
       justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    .rightside{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 30%;
        margin-top: 20px;
        margin-left: 20px;
    }
    .side{
        display: flex;
       justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 30%;
        margin-top: 20px;
        margin-right: 20px;
    }
    .bottoni{
        width: 40%;
    }
    
    
}

/* media mobile */
@media screen and ( max-width:552px) {
    .square{
        
        flex-wrap: wrap;
        
    }
    .lista{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .center{
        display: flex;
       justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    .rightside{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 50%;
        margin-top: 20px;
        margin-left: 20px;
    }
    .side{
        display: flex;
       justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 50%;
        margin-top: 20px;
        margin-right: 20px;
    }
    .top2{
        display: none;
    }
    .top1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
   
        
    
    .dynone{
        display: none;
    }
    .logosmall{
        display: block;
        padding: 5px;
        
    }
        
    .logo{
        display: none;
    }
    
    .contenitorepadre{
        display: flex;
        align-items: flex-start;
    }
    
    .sidebar{
        height: 100%;
        width: 50px;
        background-color: rgb(5, 5, 5);
        display: flex;
    }
        
        
    main{
        width: 100%;
    }
    .bottom1{
        display: flex;
        
        flex-direction: column;
        justify-content:center ; 
        align-items: center;
       }
    .download{
        margin-bottom: 10px;
        
    }
    .fa-solid-fa-square-plus {
        display: none;
    }
    .logosmall{
        display: block;
    }
    .square2{
        flex-wrap: wrap;
    }
   .contenitoregod{
    width: calc(100% - 50px);
   }
   .dynone-invert{
    display: block;
    padding: 10px;
   }
   .border{
    border-color: transparent;
   }
   .border2{
    border: 5px solid transparent;
   }
 }
 /*  */
        
    
    

    
    
