*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
}
    
main{
    height: calc(100vh - 100px);
    background-color:#141922;
    display: flex;
}
header{
    position: sticky;
    top: 0;
    height: 75px;
    background-color: #080b12;
   width: 100%;
}

footer{
    height: 100px;
    background-color: black;
}
    
.sidebar{
    height: 100%;
    width: 150px;
    background-color: rgb(5, 5, 5);
    padding: 10px;
    display: flex;
    
    
}
.content{
    width: calc(100% - 150px);
    overflow-y: auto;
   
}
.contenitorepadre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    width: 80px;
    margin: 20px 0;
}
.margine{
    margin: 5px 0;
}
.home{
    width: 20px;
}

.libreria{
    width: 20px;
}
.grandezza{
    width: 20px;
}
.download{
    width: 20px;
}
.profile{
    width: 20px;
}
.btn1{
    border: 1px solid white;
    border-radius: 20px;
    margin: 20px 20px;
    background-color: #141922;
    color: white;
    height: 30px;
    
}
    
.flex{
    display: flex;
    justify-content: end;
    align-items: center;
}
.contenitorepadre2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.lista{
    display: flex;
    list-style-type: none;
    
    
}
.marginesx{
    margin-left: 40px;
}
.square{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.square2{
    display: flex;
}
.card{
    width: 150px;
    margin: 20px 20px;
}
.card2{
    width: 150px;
    margin: 20px 20px;
    border-radius: 50%;
    
}
    

    
    


    
    
    